In [36]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("..//sqlite_DB//Movie_report.db")
cur = conn.cursor()
select_movie_fact ="""with last_six_months as (
select Month from DateDim where Month <=200010 order by Month desc limit 6),
max_review_count as (
select 
max(a.Rating_monthly_count)/2  max_count,
Review_month from 
  Movie_ratings_monthly a,last_six_months b
where a.Review_month =b.Month
group by Review_month),
movie_six_months as
(select a.MovieID,
a.Rating_monthly_count,
a.Review_month,
a.Rating_monthly_avg,
a.OverallCount,
a.Overall_rating_avg,
row_number() over(PARTITION by a.Review_month order by Rating_monthly_avg desc) rnk
from
Movie_ratings_monthly a,max_review_count c
where a.Review_month=c.Review_month
and a.Rating_monthly_count >= c.max_count)
select
a.MovieID, 
a.rnk ,
b.Title,
a.Rating_monthly_count,
a.Review_month,
a.Rating_monthly_avg,
a.OverallCount,
a.Overall_rating_avg
 from movie_six_months a,MovieDIM b
 where a.MovieID =b.MovieID and 
  a.rnk <= 10
  order by b.Title,a.Review_month desc
"""
df_details = pd.read_sql_query(select_movie_fact, conn)
conn.close()
df_details

,MovieID,rnk,Title,Rating_monthly_count,Review_month,Rating_monthly_avg,OverallCount,Overall_rating_avg
0,2858,9,American Beauty (1999),194,200009,4.44,1556,4.366
1,2858,8,American Beauty (1999),220,200006,4.36,454,4.350
2,2997,10,Being John Malkovich (1999),144,200005,4.38,157,4.380
3,541,5,Blade Runner (1982),120,200006,4.44,286,4.430
4,541,7,Blade Runner (1982),134,200005,4.42,166,4.430
5,912,7,Casablanca (1942),70,200010,4.47,899,4.438
6,912,1,Casablanca (1942),193,200007,4.60,472,4.462
7,912,8,Casablanca (1942),149,200005,4.40,170,4.400
8,858,6,"Godfather, The (1972)",94,200010,4.47,1185,4.520
9,858,10,"Godfather, The (1972)",117,200009,4.42,1091,4.524
10,858,2,"Godfather, The (1972)",379,200008,4.59,974,4.537
11,858,4,"Godfather, The (1972)",221,200007,4.50,595,4.506
12,858,3,"Godfather, The (1972)",145,200006,4.50,374,4.510
13,858,4,"Godfather, The (1972)",192,200005,4.54,229,4.520
14,1221,1,"Godfather: Part II, The (1974)",72,200010,4.61,891,4.367
15,1221,8,"Godfather: Part II, The (1974)",298,200008,4.45,734,4.342
16,2571,8,"Matrix, The (1999)",149,200009,4.48,1257,4.336
17,2571,9,"Matrix, The (1999)",155,200006,4.34,389,4.310
18,1136,3,Monty Python and the Holy Grail (1974),75,200010,4.52,827,4.382
19,1193,5,One Flew Over the Cuckoo's Nest (1975),70,200010,4.50,922,4.428
20,1193,4,One Flew Over the Cuckoo's Nest (1975),98,200009,4.53,852,4.423
21,1193,6,One Flew Over the Cuckoo's Nest (1975),173,200007,4.47,441,4.420
22,1193,6,One Flew Over the Cuckoo's Nest (1975),132,200005,4.45,158,4.460
23,1197,4,"Princess Bride, The (1987)",125,200010,4.52,1278,4.354
24,1197,10,"Princess Bride, The (1987)",231,200007,4.38,583,4.334
25,1197,9,"Princess Bride, The (1987)",182,200005,4.40,216,4.350
26,1198,8,Raiders of the Lost Ark (1981),97,200010,4.46,1330,4.450
27,1198,7,Raiders of the Lost Ark (1981),138,200009,4.48,1233,4.449
28,1198,4,Raiders of the Lost Ark (1981),440,200008,4.56,1095,4.446
29,1198,9,Raiders of the Lost Ark (1981),251,200007,4.39,655,4.368
30,1198,6,Raiders of the Lost Ark (1981),158,200006,4.39,404,4.360
31,2028,9,Saving Private Ryan (1998),486,200008,4.45,1111,4.357
32,2028,4,Saving Private Ryan (1998),155,200006,4.45,389,4.300
33,527,3,Schindler's List (1993),122,200009,4.57,1070,4.510
34,527,7,Schindler's List (1993),379,200008,4.47,948,4.503
35,527,5,Schindler's List (1993),229,200007,4.49,569,4.525
36,527,2,Schindler's List (1993),131,200006,4.51,340,4.550
37,527,2,Schindler's List (1993),183,200005,4.58,209,4.570
38,318,2,"Shawshank Redemption, The (1994)",90,200010,4.57,1156,4.578
39,318,2,"Shawshank Redemption, The (1994)",130,200009,4.60,1066,4.579
40,318,1,"Shawshank Redemption, The (1994)",387,200008,4.62,936,4.576
41,318,3,"Shawshank Redemption, The (1994)",222,200007,4.52,549,4.546
42,318,1,"Shawshank Redemption, The (1994)",127,200006,4.52,327,4.570
43,318,1,"Shawshank Redemption, The (1994)",175,200005,4.58,200,4.600
44,593,10,"Silence of the Lambs, The (1991)",461,200008,4.42,1102,4.357
45,593,7,"Silence of the Lambs, The (1991)",148,200006,4.37,377,4.340
46,2762,9,"Sixth Sense, The (1999)",104,200010,4.45,1371,4.419
47,2762,6,"Sixth Sense, The (1999)",148,200009,4.52,1267,4.417
48,2762,6,"Sixth Sense, The (1999)",385,200008,4.51,1119,4.403
49,2762,8,"Sixth Sense, The (1999)",272,200007,4.43,734,4.349
50,260,5,Star Wars: Episode IV - A New Hope (1977),160,200009,4.52,1446,4.470
51,260,3,Star Wars: Episode IV - A New Hope (1977),512,200008,4.56,1286,4.463
52,260,7,Star Wars: Episode IV - A New Hope (1977),300,200007,4.44,774,4.402
53,260,10,Star Wars: Episode IV - A New Hope (1977),184,200006,4.31,474,4.380
54,260,5,Star Wars: Episode IV - A New Hope (1977),244,200005,4.45,290,4.420
55,50,10,"Usual Suspects, The (1995)",79,200010,4.43,947,4.525
56,50,1,"Usual Suspects, The (1995)",133,200009,4.63,868,4.533
57,50,5,"Usual Suspects, The (1995)",321,200008,4.54,735,4.516
58,50,2,"Usual Suspects, The (1995)",170,200007,4.52,414,4.500
59,50,3,"Usual Suspects, The (1995)",125,200005,4.57,147,4.500

In [2]:
conn = sqlite3.connect("..//sqlite_DB//Movie_report.db")
cur = conn.cursor()
last_6_months ="""
select Month from DateDim where Month <=200010 order by Month desc limit 6
"""
last_6_months_df = pd.read_sql_query(last_6_months, conn)
conn.close()
last_6_months_df

    Month
0  200010
1  200009
2  200008
3  200007
4  200006
5  200005

In [9]:
for index,row in last_6_months_df.iterrows():
    print(index,row['Month'])

0 200010
1 200009
2 200008
3 200007
4 200006
5 200005

In [20]:
df_details_latest =df_details[df_details['Review_month'] =='200010'].copy()

In [33]:
for index,row in df_details_latest.iterrows():
    print(row['Title'])
    Movieid =row['MovieID']
    cnt =0
    for index_m,row_m in last_6_months_df.iterrows():
        if index_m > 0:            
            df_details_temp =df_details[(df_details['Review_month'] ==str(row_m['Month'])) & (df_details['MovieID'] ==Movieid)].copy()
            if len(df_details_temp) > 0:
                cnt =cnt +1
            else:
                break
    print(index,row_m['Month'],cnt)

Godfather: Part II, The (1974)
0 200009 0
Shawshank Redemption, The (1994)
1 200005 5
Monty Python and the Holy Grail (1974)
2 200009 0
Princess Bride, The (1987)
3 200009 0
One Flew Over the Cuckoo's Nest (1975)
4 200008 1
Godfather, The (1972)
5 200005 5
Casablanca (1942)
6 200009 0
Raiders of the Lost Ark (1981)
7 200005 4
Sixth Sense, The (1999)
8 200006 3
Usual Suspects, The (1995)
9 200006 3

In [ ]:



for index,row in last_6_months_df.iterrows():
    print(index,row['Month'])